@import url(normalize.css);
@import url(typography.css);


body {
  margin: 0 auto;
  background-color: var(--color1);
}

html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
}

.wrapper {
  overflow: hidden;
  width: 100%;
  position: relative;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  overflow-x: hidden;
  background-color: var(--color4);
}

.header {
  display: flex;
  align-items: center;
  height: 90px;
  background-color: var(--color3);
}

.header .header__logo {
  margin-left: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-wrapper {
  background-color: var(--color5);
  margin: 18px 18px 0px 18px;
  padding: 8px;
  border-radius: 27px;
  width: 95%;
}

.hidden {
  display: none;
}

.main__post {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    padding: 15px;
    border-radius: 39px;
    background-color: grey;
}

.post__header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  margin: 0px auto 0px 0px;
}

.post__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px;
  background-color: var(--color3);
  border: none;
  cursor: pointer;
  border-radius: 40px;
  transition: all .3s ease;
}

.post__button:hover {
  background-color: var(--color4);
}



.comment {
  background-color: var(--color3);
  margin: 18px;
  padding: 8px;
  border-radius: 27px;
}

span, h1, h2, h3{
  display: block;
}

.pagination__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.footer {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color3);
}

.footer__link {
  width: 4%;
}

/* stroke: red;
fill: red; */