:root {
    --main-font: 'Roboto', sans-serif;
    --color1:#2D3047;
    --color2:rgb(14, 73, 155);
    --color3:#7b5983;
    --color4:#6C9A8B;
    --color5:#32746D;
}

.heading1 {
	font-feature-settings: 'clig' off, 'liga' off;
	color: var(--color1);
	font-family: var(--main-font);
	font-size: 72px;
	font-style: normal;
	font-weight: 600;
	line-height: 105%;
    margin: 0;
}

.heading2 {
	font-feature-settings: 'clig' off, 'liga' off;
	color: var(--color1);
	font-family: var(--main-font);
	font-size: 60px;
	font-style: normal;
	font-weight: 600;
	line-height: 100%;
    margin: 0;
}

.heading3 {
	font-feature-settings: 'clig' off, 'liga' off;
	color: var(--color2);
	font-family: var(--main-font);
	font-size: 28px;
	font-style: normal;
	font-weight: 600;
	line-height: 125%;
    margin: 0;
}

.body-medium-text {
	color: var(--color1);
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: var(--main-font);
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 150%;
    margin: 0;
}

.caption-text {
	color: var(--color1) ;
	font-feature-settings: 'clig' off, 'liga' off;
	font-family: var(--main-font);
	font-size: 10px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
}